body {
   background-color: #272828;
   display: flex;
   justify-content: center;
   flex-direction: column;

}

header {
   display: flex;
   justify-content: center;
}

.image {
   display: flex;
   justify-content: center;
}

.links {
   display: flex;
   justify-content: center;
   margin-top: 20px;
}

   .fb {
      margin: 20px;
   }

   .tw {
      margin: 20px;
   }

.unicorn {
   display: flex;
   justify-content: center;
   margin-top: 30px;
}
